html, body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#TITLE {
    text-align: center;
    width: 100%;
    color: white;
    background-color: crimson;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

div {
    width: 100%;
    display: flex;
}

.vertical_div {
    flex-direction: column;
    align-items: center;
}

.horizontal_div {
    flex-direction: row;
}

.square {
    width: 20px;
    height: 20px;
}

.modify {
    width: 20px;
    height: 20px;
    background-image: url("../icons/modify.png");
    border: none;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    margin: 3px;
    transition: 0.1s;
    transform: scale(1);
    transform-origin: 50% 50%;
}

.modify:hover {
    transform: scale(1.25);
}

.color_and_modify {
    justify-content: space-between;
}

#MAIN_DIV {
    height: 100%;
    justify-content: space-between;
    display: flex;
}

#TASKS {
    flex: 2;
    padding-top: 30px;
}

#TASK_GROUPS {
    gap: 10px; /*To keep a gap between the three groups : to do, in progress, finished*/
}

#CATEGORIES, #REMINDERS {
    justify-content: flex-start;
    flex: 1;
}

#CATEGORIES {
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#REMINDERS {
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.category, .reminder { /*This class is created in the todo.js file while updating the page*/
    justify-content: space-between;
    align-items: center;
}

.horizontal_div.reminder, .horizontal_div.category, .vertical_div.group, .task {
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
}

body > .vertical_div {
    height: 100%;
}

.group {
    background: white;
}
.task p {
    padding: 10px;
    padding-bottom: 3px;
}
.horizontal_div.color_and_modify .modify {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: 5px;
}

@media (width <= 1000px) {
    #MAIN_DIV.horizontal_div {
        flex-direction: column;
    }
    #CATEGORIES, #REMINDERS {
        margin: 0;
    }
}
  

.task {
    max-width: 30%; /*So the tasks doesn't take all the screen when there are few tasks*/
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    padding: 0px !important;
}

#CATEGORY_LIST, #REMINDER_LIST {
    padding: 10px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.horizontal_div.color_and_modify {
    position: relative;
}

.square {
    margin-left: auto;
    margin-right: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 10px;
    filter: grayscale(0.2);
}

.ADD_BUTTON {
    border-radius: 35%; /* Rounded buttons */
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    background: crimson;
    color: white;
    margin: 5px;
    transition: 0.1s;
}
.ADD_BUTTON:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}